* {
  margin: 0 px;
  padding: 0 px;
}
body {
  background-color: rgba(0, 0, 0, 0.902);
}

.navModify {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarNav ul li {
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: center;

}
.navAlign {
  transition: 0.7s;
  display: flex;
  margin: 0px 0px 5px 14px;
}
.navAlign:hover {
  background-color: rgba(0, 0, 0, 0.503);
  border-radius: 10px;
}
.material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

/* for the intro section  */

.intro {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.samesize {
  border-radius: 2%;
  width: 600px;
  height: 350px;
  margin: 20px;

}

.image321 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  
}

.image321 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.down{
  display: flex;
  width: 100%;
  justify-content: start;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.word{
  color: green;
}
.detail{
  width: 600px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


.foot{
  background-color: rgb(48, 54, 55);

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 30px;}
.icon2 svg{
  margin: 0px 20px 0px 10px;
  color: aliceblue;

}

.skillselection{
  width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;}

.skillcards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  color: black;
  background-color: rgba(128, 128, 128, 0.75);
  justify-content: center;
  margin: 20px 20px 0px 20px;
  text-align: center;
  width: 200px;
  height: 200px;
  transition: 0.3s ease-in-out;}


.card:hover{
  transform: scale(1.1);
}

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months"
                       "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


/* Other styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}
.graphtot{

  display: flex;
  justify-content: center;
  align-items: center
}
.graph {  
  border-radius: 4px;
  background-color: azure;
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
}
.squares{
  list-style: none;
}
.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}

.squares li[data-level="1"] {
  background-color: #c6e48b;
}

.squares li[data-level="2"] {
  background-color: #7bc96f;
}

.squares li[data-level="3"] {
  background-color: #196127;
}

.projects {
  align-items:start;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}


.lists {
  transition: 0.5s ease-in-out;
  
  border-radius: 10px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.lists1{

  background-image:url('WhatsApp Image 2024-07-15 at 15.04.40_db75bf1d (1).jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.lists2{
  background-image:url('boomsongs.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  
}
.lists3{
  background-image:url('portfolio.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.lists4{
  
  font-weight: 800;
  background-image:url('farmfam.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
mark{
  opacity: 0.7;
  font-weight: 800;
  color: #000;
}
.heading {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  font-weight: bolder;
}

.description {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

.btn {
  color: #333;
}


.resume {
  font:bold;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #e1e4e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.display {
  margin-top: 20px;
}

.download-button {
  margin-top: 20px;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;

}
.display img{
  width: 800px;
  height: auto;
}
@media screen and (min-width: 360px) {
  .display img{
    width: 300px;
    height: auto;
  }
  
}
@media screen and (min-width: 800px) {
  .display img{
    width: 600px;
    height: auto;
  }
  
}@media screen and (min-width: 1000px) {
  .display img{
    width: 800px;
    height: auto;
  }
  
}
.lists:hover{
  transform:translate(0px,10px);
}